.mail-details{
    width: 80%;
    height: 100vh;
    display: flex;
    place-items: center;         
    flex-direction: column; 
    justify-items: center;
    /* place-self: center; */
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 1em;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .actions{
        background-color: #0000000d;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: .5em 0;
    }
}