 .mail-index {
  width: 100%;
  height: 100vh;
  display: flex;         
  flex-direction: column; 
  overflow: hidden;
  justify-items: center;
  place-self: center;
  font-weight: 600;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);

  .mail-main {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .mail-content {
    display: flex;
    flex-direction: column;
    flex: 1; 
    padding: 1em 0;
  }

  .mail-categories-container {
  width: 80%;
  height: 10vh;
}

}



