.mail-categories{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    width: 80%;
    overflow-y: auto; 
    min-height: 0;  
    align-self: center;

    
    .category{
        text-align: center;
        height: max-content;
        display: flex;
        gap: 1em;
        align-items: center;

        & p{
            font-weight: 400;
            font-size: .9em;
        }

        &:hover{
        background-color: #0000000d;
        cursor: pointer;
        /* padding: 0 1em; */
        }

        &.clicked{
            border-width: 80%;
            border-bottom: 3px solid #0b57d0;
            color: #0b57d0;
          
        }
        
    }
}