.mail-new {
    position: fixed;
    bottom: 0;
    width: 30vw;
    height: 60vh;
    margin-right: .1em;
    border-radius: 10px;
    padding: 0;
    border: 0;
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);

    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(248, 244, 244);
        border-bottom: 1px solid #f1f3f4;
        padding: .5em;

        .material-symbols-outlined {
            font-size: 1em;
            gap: .5em;
            cursor: pointer;
        }

        p {
            font-weight: lighter;
            font-size: .8em;
        }

        .title {
            text-align: left;
            width: 50%;
        }

        .actions {
            text-align: right;
            width: 50%;
            white-space: nowrap;
        }

        .actions img:hover {
            background-color: #0000000d;
            outline: 0.1em solid #0000000d; 
        }
    }

    .to {
        color: rgb(189, 172, 172);
        border-bottom: 1px solid #f1f3f4;
        padding: .5em;
    }

    .subject {
        border-bottom: 1px solid #f1f3f4;
        padding: .5em;
    }

    input {
        border: 0;
        width: 100%;
        outline: none;
    }

    .body {
        flex: 1;
        border-bottom: none;
        height: 95%;
        padding: .5em;

        textarea {
            margin: .5em 0;
            width: 100%;
            height: 100%;
            border: 0;
            outline: none;
            resize: none;
            font-family: inherit;
            font-size: .8em;
        }
    }

    .send {
        border-top: 1px solid #f1f3f4;
        display: flex;
        justify-content: flex-start;
        padding: .5em;

        button {
            margin: .5em;
            background-color: #0b57d0;
            color: white;
            border: none;
            padding: .7em 2.5em;
            border-radius: 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0948a8;
            box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
        }

        /* button[disabled] {
            background-color: rgb(172, 164, 166);
        } */
    }
}

@media (max-width: 800px) {
  .mail-new {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
  }

  .mail-new .header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    /* padding: 0.8em 1em; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
  }

  .mail-new .header .mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
    /* margin: 0 1em; */
  }

  .mail-new .header .mobile .material-symbols-outlined {
    font-size: 1.8em;
    color: #5f6368;
  }

  .mail-new .to,
  .mail-new .subject {
    border-bottom: 1px solid #f1f3f4;
    padding: 1em;
  }

  .mail-new input {
    font-size: 1em;
    padding: 0.5em 0;
  }

  .mail-new .body {
    flex: 1;
    padding: 1em;
  }

  .mail-new .body textarea {
    font-size: 1rem;
    height: 100%;
    resize: none;
  }

  .mail-new .send button {
    background-color: white;
    /* border-radius: 50%; */
    /* width: 48px; */
    /* height: 48px; */
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    /* text-align:end; */

    &:hover{
        background-color: white;
        box-shadow: none;
    }
  }
  .send{
    /* justify-content:flex-end; */
    background-color: white;
    border: none;
    font-size: 1rem;

    &:hover{
        background-color: white;
    }
  }

  .mail-new .send button .material-symbols-outlined {
    font-size: 1.4rem;
    color: white;
  }
}
