 .mail-index {
  width: 100%;
  height: 100vh;
  display: flex;         
  flex-direction: column; 
  overflow: hidden;
  justify-items: center;
  place-self: center;
  font-weight: 600;
  /* border-radius: 20px; */
  background-color: rgb(255, 255, 255);

  


  .mail-main {
    display: flex;
    height: 100%;
    width: 100%;

    /* display: grid;
    grid-template-columns: 220px 1fr; */

    &.menu-open{
    /* filter: brightness(0.8);  */
    pointer-events: none;
    }
  }

  .mail-content {
    display: flex;
    flex-direction: column;
    flex: 1; 
    padding: 1em 0;
    overflow: auto;
  }

  .mail-categories-container {
  width: 80%;
  height: 10vh;
}

}

@media (max-width: 800px) {
  .mail-main {
    display: flex;          
    flex-direction: column;
    width: 100%;
    height: 100%;

  }

  .mail-content {
    width: 95%;
    flex: 1;
    padding: 0;
    margin: 0;
    overflow: auto;

  }

  .mail-categories-container {
    display: none;
  }

  .compose-btn {
    position: fixed;
    bottom: 0;
    right: 1%;
    border-radius: 20px;
    width: auto;
    height: auto;
    padding: 0.5em;
    /* gap: 1em; */

    span{
        padding-right: .5em;
    }

    button {
      display: flex;
      align-items: center;
      background-color: #c2e7ff;
      color: #001d35;
      border: none;
      border-radius: 20px;
      padding: 1em 1.5em;
      cursor: pointer;
      font-weight: 500;
      font-size: .8em;
      /* margin: 0 0 1.5em 1em; */
    
      &:hover {
      box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }
    
  }

}
}