 /* mail list */
.mail-list {
    width: 80vw;
    border-spacing: 0;
    
    table{
        tr{
            display: block;
        }

        td{
            line-height: 20px;
            /* border-bottom: 1px solid #e0e0e0; */
        }
    
        /* td:nth-child(2){
            padding-right: 5em;
        } */
        
        td:last-child{
            justify-items: end;

        }

    }

    tr:hover{
        cursor: pointer;
    }
    
    tr.read{
        font-weight:100;
        background-color: #0000000d;
    }

    .date-actions-wrapper{
        width: 4em;
        /* justify-self: end; */
    }

    .actions{
        display: none;
        gap: 1em;
        font-weight: 100;
    }

    tr:hover .actions {
        display: flex;
    }
    
    tr:hover .date {
        display: none;
    }
    
    tr:hover{
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3);
    }

    td .subject{
        text-overflow: ellipsis; 
    }



/* SHOULD CHECK WHY ICONS ARE ROUNDED TOO!!! */
/* INPUT HOVER IS NOT ROUNDED??? */

    /* i,input{
            z-index: 1;
            border-radius: 100%;
    } */

    img:hover { 
        /* z-index: 0; */
        border-radius: 50%;
        background-color: #0000000d;
        outline: .7em solid #0000000d;
    }

    img[title="Select"]{
        background-color: pink;
    }

}

table td {
  border-bottom: 1px solid #e0e0e0;
}

table td:nth-child(4){
    padding-right: 3em;
}



