.mail-categories{
    width: 100%;
    height: 5vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1em;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
    
    .category{
        text-align: center;
        height: max-content;
        display: flex;
        gap: 1em;
        align-items: center;
        padding: 0 .6em;

        & p{
            font-weight: 400;
            font-size: .9em;
        }

        &:hover{
        background-color: #0000000d;
        cursor: pointer;
        }

        &.clicked{
            border-width: 80%;
            border-bottom: 3px solid #0b57d0;
            color: #0b57d0;

            .material-symbols-outlined{
                font-variation-settings: 'FILL' 1;

            }
          
        }

    }
}