.color-picker-wrapper {
    position: relative;
    display: inline-block;
}

.color-picker {
    position: absolute;
    bottom: 30px;
    right: 0;
    background: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 120px;
    z-index: 20;
}

.color-swatch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(192, 192, 192, 0.8);
    transition: transform 0.15s;
}

.color-swatch:hover {
    transform: scale(1.2);
}

.fa-palette {
    font-size: 1.2em;
    cursor: pointer;
    color: rgba(114, 114, 114, 0.8);
    transition: color 0.2s, transform 0.2s;
    padding: 0.2em;
}

.fa-palette:hover {
    color: white;
    transform: scale(1.1);
}