.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: rgb(255, 255, 255);
    outline: 1px solid rgb(185, 185, 185);
}

nav a {
    margin: .5em;
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}

.nav-wrapper {
    position: relative;
    display: inline-block;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.app-nav {
    position: absolute;
    top: 30px;
    right: 0;
    background: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 150px;
    z-index: 20;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.logo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.logo-container .note-logo-title {
    font-size: 1.5em;
    color: #5f6368;
}