.side-nav{
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0 0;
    flex: 0 0 18%;  
    font-size: .9em;
    
    .status{
        text-align: center;
        height: 2.5em;
        display: flex;
        gap: 1em;
        align-items: center;
        padding-left: 1em;

        .inbox{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            
        }

        .inbox span{
            padding: 0 1em;
        }

        & p{
            font-weight: 400;
            font-size: .9em;
        }

        &:hover{
        background-color: #6f6c6c0d;
        cursor: pointer;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        }

        &.clicked{
            border-width: 80%;
            background-color: #0000000d;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

            p{
                font-weight: 500;
            }
            
            .material-symbols-outlined{
                font-weight: 500;
                font-size: 22px;
                font-variation-settings: 'wght' 500;
                font-variation-settings: 'opsz' 22;
                font-variation-settings: 'FILL' 1;
            }
        }
        
    }
}


.side-nav .compose-btn{
    gap: 1em;
    span{
        padding-right: .5em;
    }
    button {
      display: flex;
      align-items: center;
      background-color: #c2e7ff;
      color: #001d35;
      border: none;
      border-radius: 20px;
      padding: 1em 1.9em;
      cursor: pointer;
      font-weight: 500;
      font-size: .9em;
      margin: 0 0 1.5em 1em;
    
      &:hover {
      box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    }
} 

}


@media (max-width: 800px) {
  .side-nav {
    display: none;
  }

  .side-nav.open {
    display: block;
    position: absolute;
    background: white;
    /* filter: none;
    pointer-events:all; */
    /* top: 0; */
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    border-radius: 20px;
     box-shadow: 4px 0 12px -20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .side-nav.open .mail-filter {
  color: grey;
}

}





